.arrow {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 1;
  cursor: pointer;

  @include transition(background-color 0.3s ease);

  // Having buttons each side of image will make image too small on small device. Making it to overlay.
  @include sm {
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0.5;
    top: 0;
    bottom: 30px;
  }
}

//this was a found from google search. Eliminate weird hover effect on mobile.
@media (hover: hover) and (pointer: fine) {
  .arrow:hover {
    background-color: #c4c4c4;
  }
}

.next {
  right: 5px;
}

.prev {
  left: 5px;
}
