// width is set to 100% so it can be changed by outter element. (better for future I guess)

.easelWrapper {
  width: 100%;
  display: inline-flex;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.clickable {
  cursor: pointer;
}
